.mainNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #6c6fa0;
}
.sideNav {
  position: absolute;
  left: -270px;
  height: 100%;
  width: 270px;
  background: white;
  border-radius: 0 20px 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.sideNav-open {
  left: 0;
}
.menu-item {
  margin: 20px;
}

.logo-ml-navbar {
  width: 150px;
}

.icon-menu {
  font-size: 35px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.div-photo-user {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f2f2f2;
}

.div-photo-user {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-user {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}
.profile-area {
  height: 30%;
  padding: 20px;
}
.profile-photo {
  height: 150px;
  width: 150px;
}

.image-profile {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
